html, body {
height: 100%;
background: black;
background-image: url("images/2.jpg");
background-size: cover; 
background-repeat: no-repeat;
vertical-align: center;
margin: center;
}

body{
  margin-top: 0px;
}
/*
#map-container{
  margin-top: 50px;
  margin-right: 0px;
  height: 150%;
  width: 80%;
}*/

#map {
    /*float: left;*/
    margin-left: 3em;
    height: 100%; 
    width: 50%;
    background-color: papayawhip;
}

li{
  list-style: none;
  margin-top: 10px;

}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#itinerary-container{
  margin-top: .5%;
  margin-left: 1.25em;
  height: 1em;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  display: inline;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
  margin-left: 9px;
}

#pac-input-itinerary {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  display: inline;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#pac-input-3{
  display: none;
}

#pac-input-2{
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  display: inline;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
  margin-left: 9px;
}


#itinerary-info{
  float: right;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#name-input{
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 4px;
  margin-left: 9px;
  width: 200px;
}

.pac-container {
  font-family: Roboto;
  background-color: #FFF;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}
.modal{
    z-index: 20; 
    top:10%;
    left:40%;
    outline: none; 
}
.modal-backdrop{
    z-index: 10;        
}​

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.row{
  height: 50%;

}

label{
  color: #fff;
}

.container{
  height: 100%;
  width: 100%;
  padding-right: 0;
  margin-right: 0;
}

#itinerary-info{
  text-align: center;
}

#main-screen{
  height: 100%;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.btn-default{
  background-color: BurlyWood;
  /*margin: 2%;*/
  font-family: 'Raleway', sans-serif;
}

.centered {
  text-align: center;
  display: block;
  margin:0 auto;
}

.splashpage{

  font-size: 75px;
  margin-top: 15%;
  margin-bottom: 5%;
}

/*.splash{
  background: black;*/
  /*background-image: url("images/2.jpg");*/
/*  background-size: cover; 
  background-repeat: no-repeat;
  vertical-align: center;
  margin: center;
}*/

#signin-button{
  margin-top: 10px;
}

.signin-submit{
  margin-top: 10px;
}

.splash > img{
  opacity: 0.1;
}

.border{
  width: 10%;
}

.full{
  height: 100%;
  width: 100%;
}

h1{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Raleway', sans-serif;
}


#dropdown-button{
  margin-left: 20px;
  margin-right: 75px;
}

#user-itineraries{
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 120px;
}

#navbar-collapse{
  margin-top: 0px;
}

#logout{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-right: 20px;
}

#logout:hover{
  color: white;
}

#save-location{
  margin-right: 90px;
}
/*=======
#populated-list{
  width: 80%;
  height: 20%;
>>>>>>> display-div*/

#itinerary-list {
  /*margin-left: 1em;*/
  height: 200px;
  overflow: auto;
  overflow-y: scroll;
  /*border-color: */
  background-color: rgba(0,0,0,0.2);
  margin: .5em;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*#locations-list{
}*/

.location-name{
  color: white;
  width: 200px;
  margin-right: 5px;
  font-family: 'Raleway', sans-serif;
}

.list-group-item{
  display: inline;
}

.delete-button{
  display: inline;
}

#logo{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-left: 20px;
}

#navbar-collapse {
  background-color: rgba(0,0,0,0.2); 
  width: 100%;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

#itinerary-button{
  margin-top: 8px;
}

#dropdown-button{
  margin-top: 8px;
}

li > a:hover {
  background-color: rgba(0,0,0,0.3);
  color: white;
}

#username-field{
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

#password-field{
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.form{
  font-size: 15px;
}

#username{
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

#password{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

@media (max-width: 600px) {
  #map{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .modal{
    z-index: 20; 
    top:15%;
    left: 5%;
    outline: none;
  }
  #itinerary-container{
    margin-left: 0px;
  }
  #user-itineraries{
    margin-right: 3.5em;
    margin-top: 6.5em;
  }
  #dropdown-button{
    margin-right: 10em;
    margin-bottom: 1em;
  }
  #logo{
    margin-left: 0px;
  }
}

.alert{
  width: 25%;
  height: 5%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
  text-align: center;
  display: none;
}

/*@media screen and (min-device-width : 400px){  
  #logo{
    margin-left: 0px;
    font-size: 20px;'
  }*/
/*  .modal{
    z-index: 20; 
    top:15%;
    left: 20%;
    outline: none; 
}*/
/*}*/
