html, body {
height: 100%;
margin: 0;
padding: 0;
min-height: 100%;
}

body{
  margin-top: 0px;
}

#map-container{
  margin-top: 50px;
  margin-right: 0px;
  height: 70px;
  width: 80%;
}

#map {
    float: left;
    margin-left: 40px;
    height: 100%; 
    width: 50%;
    background-color: papayawhip;
}

li{
  list-style: none;

}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#itinerary-info{
  float: right;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.row{
  height: 50%;

}

.container{
  height: 100%;
  width: 100%;
  padding-right: 0;
  margin-right: 0;
}

#itinerary-info{
  text-align: center;
}

#main-screen{
  height: 100%;
}



.col-centered{
    margin: 0 auto;
    float: none;
}

.btn-default{
  background-color: BurlyWood;
  margin: 2%;
  font-family: 'Raleway', sans-serif;
}

.centered {
  text-align: center;
  display: block;
  margin:0 auto;
}

.splashpage{

  font-size: 75px;
  margin-top: 15%;
  margin-bottom: 5%;
}

.splash{
  background: black;
  background-image: url("images/2.jpg");
  background-size: 100%; 
  background-repeat: no-repeat;
  
}

.splash > img{
  opacity: 0.1;
}

.border{
  width: 10%;
}

.full{
  height: 100%;
  width: 100%;
}

h1{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Raleway', sans-serif;
}



